<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-weight:bold; font-size:25px;">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"> INICIO </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about"> ABOUT </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hello"> HELLO </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="black">
  <h1> {{ title }}</h1> <!--- Estas variables las definimos en el typescript --->
</div>

<div class="ash">
  <h2> {{ name }} </h2>
  <h2> {{ email }} </h2>

  <button (click)="toggleHobbies()" class="btn"> Mostrar Hobbies </button> <!--- las acciones del boton se colocan entre parentesis --->

  <div *ngIf="showHobbies" class="component2">    <!--- IF --->
    <h3> Hobbies: </h3>
    <ul>
      <li *ngFor="let hobby of hobbies"> {{ hobby }} </li>  <!--- FOR --->
    </ul>
  </div>
  <br>
  <a href="{{ webpage }}" target="_blank"> Visita mi sitio Web </a>   <!--- URL web --->
</div>

<br>
<form (submit)="newHobby(hobby)"> <!--- ejcute e metodo y envie el parametro que recibe del input --->
  <input type="text" placeholder="Ingresa tu hobby" #hobby> <!--- el #hobby es como se envia la referencia al metodo newHobby --->
</form>


<div class="black">
  <h1> {{ title }}</h1> 
</div>


<!--- carga el componente de hello-word --->
<!---<app-hello-world> </app-hello-world> --->



<ul>
  <li *ngFor="let user of users">
    <app-user [nameUser]="user" ></app-user> <!--- carga el componente de user --->
  </li>
</ul>

<button (click)="sayHello()">Hazme Click</button>

<h1>Eliminar Usuario</h1>
<ul>
  <li *ngFor="let user of users">
    {{ user }} <button (click)="deleteUser(user)">Borrar Usuario</button>
  </li>
</ul>

<h1>Agregando nuevos usuarios</h1>
<form (submit)="addUser(newUser)">
  <input type="text" #newUser> <!--- el #newUser es como se envia la referencia  --->
  <button>Agregar Usuario</button>
</form>

<br>

<div class="ash">
  <h1>Data Binding</h1>
  <form>
    <input type="text" name="name" [(ngModel)]="name"> <!--- enlazamos el data binding [(ngModel)], con la variable name --->
    <input type="text" name="age" [(ngModel)]="age">
  </form>

  <h2>Name: {{ name }}</h2> <!--- Mostramos lo enlazado --->
  <h2>Age: {{ age }}</h2>
</div>


<div class="black">
  <h2> {{ title }} </h2> 
</div>

<br>

<h2> POSTS: </h2>
<div class="ash" *ngFor="let post of posts">
  <h3>{{ post.title }}</h3>
  <p>{{ post.body }}</p>
</div>