<router-outlet></router-outlet>

<div class="black">
  <h1> {{ title }}</h1> <!--- Estas variables las definimos en el typescript --->
</div>

<div class="ash">
  <h2> {{ name }} </h2>
  <h2> {{ email }} </h2>

  <button (click)="toggleHobbies()" class="btn"> Mostrar Hobbies </button> <!--- las acciones del boton se colocan entre parentesis --->

  <div *ngIf="showHobbies" class="component2">    <!--- IF --->
    <h3> Hobbies: </h3>
    <ul>
      <li *ngFor="let hobby of hobbies"> {{ hobby }} </li>  <!--- FOR --->
    </ul>
  </div>
  <br>
  <a href="{{ webpage }}" target="_blank"> Visita mi sitio Web </a>   <!--- URL web --->
</div>

<br>
<form (submit)="newHobby(hobby)"> <!--- ejcute e metodo y envie el parametro que recibe del input --->
  <input type="text" placeholder="Ingresa tu hobby" #hobby> <!--- el #hobby es como se envia la referencia al metodo newHobby --->
</form>


<div class="black">
  <h1> {{ title }}</h1> 
</div>

<app-hello-world> </app-hello-world> <!--- carga el componente de hello-word --->


<ul>
  <li *ngFor="let user of users">
    <app-user [nameUser]="user" ></app-user> <!--- carga el componente de user --->
  </li>
</ul>

<button (click)="sayHello()">Hazme Click</button>

<h1>Eliminar Usuario</h1>
<ul>
  <li *ngFor="let user of users">
    {{ user }} <button (click)="deleteUser(user)">Borrar Usuario</button>
  </li>
</ul>

<h1>Agregando nuevos usuarios</h1>
<form (submit)="addUser(newUser)">
  <input type="text" #newUser> <!--- el #newUser es como se envia la referencia  --->
  <button>Agregar Usuario</button>
</form>

<br>

<div class="ash">
  <h1>Data Binding</h1>
  <form>
    <input type="text" name="name" [(ngModel)]="name"> <!--- enlazamos el data binding [(ngModel)], con la variable name --->
    <input type="text" name="age" [(ngModel)]="age">
  </form>

  <h2>Name: {{ name }}</h2> <!--- Mostramos lo enlazado --->
  <h2>Age: {{ age }}</h2>
</div>


<div class="black">
  <h1> {{ title }} </h1> 
</div>

<div class="ash" *ngFor="let post of posts">
  <h2>{{ post.title }}</h2>
  <h3>{{ post.body }}</h3>
</div>